@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --font-sans: 'IBM Plex Sans', sans-serif;
  --font-mono: 'Space Mono', monospace;
  --font-serif: 'Georgia', serif;
  --radius: 0.3rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
}

:root {
  --radius: 0.3rem;
  --background: oklch(1.0000 0 0);
  --foreground: oklch(0.1865 0.0119 264.2284);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.1865 0.0119 264.2284);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.1865 0.0119 264.2284);
  --primary: oklch(0.4256 0.1410 255.1839);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9676 0.0070 247.8971);
  --secondary-foreground: oklch(0.1865 0.0119 264.2284);
  --muted: oklch(0.9676 0.0070 247.8971);
  --muted-foreground: oklch(0.5547 0.0407 257.4404);
  --accent: oklch(0.9676 0.0070 247.8971);
  --accent-foreground: oklch(0.1865 0.0119 264.2284);
  --destructive: oklch(0.6368 0.2078 25.3259);
  --border: oklch(0.9290 0.0126 255.5317);
  --input: oklch(0.9290 0.0126 255.5317);
  --ring: oklch(0.4256 0.1410 255.1839);
  --chart-1: oklch(0.6998 0.1272 176.7162);
  --chart-2: oklch(0.6447 0.2022 4.6419);
  --chart-3: oklch(0.8775 0.1639 97.2864);
  --chart-4: oklch(0.4519 0.2464 277.5703);
  --chart-5: oklch(0.6758 0.1453 238.4620);
  --sidebar: oklch(0.9683 0.0014 286.3748);
  --sidebar-foreground: oklch(0.1865 0.0119 264.2284);
  --sidebar-primary: oklch(0.4256 0.1410 255.1839);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9676 0.0070 247.8971);
  --sidebar-accent-foreground: oklch(0.1865 0.0119 264.2284);
  --sidebar-border: oklch(0.9290 0.0126 255.5317);
  --sidebar-ring: oklch(0.4256 0.1410 255.1839);
  --destructive-foreground: oklch(1.0000 0 0);
  --font-sans: 'IBM Plex Sans', sans-serif;
  --font-serif: 'Georgia', serif;
  --font-mono: 'Space Mono', monospace;
  --shadow-color: hsl(220 20% 8%);
  --shadow-opacity: 0.15;
  --shadow-blur: 1.5rem;
  --shadow-spread: 0rem;
  --shadow-offset-x: 0rem;
  --shadow-offset-y: 0.5rem;
  --letter-spacing: 0.01em;
  --spacing: 0.25rem;
  --shadow-2xs: 0rem 0.5rem 1.5rem 0rem hsl(220 20% 8% / 0.07);
  --shadow-xs: 0rem 0.5rem 1.5rem 0rem hsl(220 20% 8% / 0.07);
  --shadow-sm: 0rem 0.5rem 1.5rem 0rem hsl(220 20% 8% / 0.15), 0rem 1px 2px -1px hsl(220 20% 8% / 0.15);
  --shadow: 0rem 0.5rem 1.5rem 0rem hsl(220 20% 8% / 0.15), 0rem 1px 2px -1px hsl(220 20% 8% / 0.15);
  --shadow-md: 0rem 0.5rem 1.5rem 0rem hsl(220 20% 8% / 0.15), 0rem 2px 4px -1px hsl(220 20% 8% / 0.15);
  --shadow-lg: 0rem 0.5rem 1.5rem 0rem hsl(220 20% 8% / 0.15), 0rem 4px 6px -1px hsl(220 20% 8% / 0.15);
  --shadow-xl: 0rem 0.5rem 1.5rem 0rem hsl(220 20% 8% / 0.15), 0rem 8px 10px -1px hsl(220 20% 8% / 0.15);
  --shadow-2xl: 0rem 0.5rem 1.5rem 0rem hsl(220 20% 8% / 0.38);
  --tracking-normal: 0.01em;
}

.dark {
  --background: oklch(0.1865 0.0119 264.2284);
  --foreground: oklch(1.0000 0 0);
  --card: oklch(0.2284 0.0170 264.1547);
  --card-foreground: oklch(1.0000 0 0);
  --popover: oklch(0.2284 0.0170 264.1547);
  --popover-foreground: oklch(1.0000 0 0);
  --primary: oklch(0.5611 0.1790 254.8598);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.3138 0.0131 264.3681);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(0.3138 0.0131 264.3681);
  --muted-foreground: oklch(0.6418 0.0360 257.4318);
  --accent: oklch(0.3138 0.0131 264.3681);
  --accent-foreground: oklch(1.0000 0 0);
  --destructive: oklch(0.5771 0.2151 27.3187);
  --border: oklch(0.3617 0.0158 264.3570);
  --input: oklch(0.3617 0.0158 264.3570);
  --ring: oklch(0.5611 0.1790 254.8598);
  --chart-1: oklch(0.7941 0.1406 177.5187);
  --chart-2: oklch(0.7183 0.1369 359.8787);
  --chart-3: oklch(0.9045 0.1370 98.1747);
  --chart-4: oklch(0.5584 0.1804 286.6627);
  --chart-5: oklch(0.7218 0.1129 233.1408);
  --sidebar: oklch(0.2077 0.0145 264.1874);
  --sidebar-foreground: oklch(1.0000 0 0);
  --sidebar-primary: oklch(0.5611 0.1790 254.8598);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.3138 0.0131 264.3681);
  --sidebar-accent-foreground: oklch(1.0000 0 0);
  --sidebar-border: oklch(0.3617 0.0158 264.3570);
  --sidebar-ring: oklch(0.5611 0.1790 254.8598);
  --destructive-foreground: oklch(1.0000 0 0);
  --radius: 0.3rem;
  --font-sans: 'IBM Plex Sans', sans-serif;
  --font-serif: 'Georgia', serif;
  --font-mono: 'Space Mono', monospace;
  --shadow-color: hsl(220 20% 8%);
  --shadow-opacity: 0.5;
  --shadow-blur: 2rem;
  --shadow-spread: -0.5rem;
  --shadow-offset-x: 0rem;
  --shadow-offset-y: 0.75rem;
  --letter-spacing: 0.01em;
  --spacing: 0.25rem;
  --shadow-2xs: 0rem 0.75rem 2rem -0.5rem hsl(220 20% 8% / 0.25);
  --shadow-xs: 0rem 0.75rem 2rem -0.5rem hsl(220 20% 8% / 0.25);
  --shadow-sm: 0rem 0.75rem 2rem -0.5rem hsl(220 20% 8% / 0.50), 0rem 1px 2px -1.5px hsl(220 20% 8% / 0.50);
  --shadow: 0rem 0.75rem 2rem -0.5rem hsl(220 20% 8% / 0.50), 0rem 1px 2px -1.5px hsl(220 20% 8% / 0.50);
  --shadow-md: 0rem 0.75rem 2rem -0.5rem hsl(220 20% 8% / 0.50), 0rem 2px 4px -1.5px hsl(220 20% 8% / 0.50);
  --shadow-lg: 0rem 0.75rem 2rem -0.5rem hsl(220 20% 8% / 0.50), 0rem 4px 6px -1.5px hsl(220 20% 8% / 0.50);
  --shadow-xl: 0rem 0.75rem 2rem -0.5rem hsl(220 20% 8% / 0.50), 0rem 8px 10px -1.5px hsl(220 20% 8% / 0.50);
  --shadow-2xl: 0rem 0.75rem 2rem -0.5rem hsl(220 20% 8% / 1.25);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}